<h2>Welcome to the Dojo Activity Center</h2>
<br>
<div class="row">
    <div class="col-md-6">
        <partial name="_Register"></partial>
    </div>
    <div class="col-md-6">
        <partial name="_Login"></partial>
    </div>
</div>